.chat-item{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 191px;
    width: 100%;
    min-height: 191px;
    z-index: 5;
    @media screen and (max-width: $mobile){
        min-height: 91px;
    }
    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: -1;
    }
    p{
        text-align: center;
        max-width: 115px;
        width: 100%;
        font-weight: 700;
        color: $blackBlue;
        @media screen and (max-width: $tabletLarge){
            font-size: 1.7rem;
        }
        @media screen and (max-width: $mobile){
            font-size: 1rem;
            max-width: 70px;
            line-height: 1.7rem;
        }
    }
}
