.check-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px ;
    box-sizing: border-box;
    h3{
        color: $blackBlue;
        font-weight: 700;
        margin: 20px 0;
        text-align: center;
        line-height: 1.5;
        @media screen and (max-width: $mobile) {
            font-size: 3.1rem;
            line-height: 3.7rem;
        }
    }
    p{
        @include adaptiveProperty('font-size', 17, 14);
        @include adaptiveProperty('line-height', 29, 30);
        color: rgba($blackBlue, .7);
        text-align: center;
    }
    // .check-item__text
    &__text{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
    // .check-item__img-wr
    &__img-wr{
        max-width: 150px;
        width: 100%;
        position: relative;
        img{
            display: block;
            margin: 0 auto;
            width: 90px;
            object-fit: contain;
            height: 90px;
        }
        span{
            position: absolute;
            right: -8px;
            top: 1px;
            width: 37px;
            height: 37px;
            background-color: #d8a75e;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            @media (max-width: $mobile){
                width: 30px;
                height: 30px;
            }
            img{
                width: 16px;
                height: 15px;
                object-fit: contain;
                @media (max-width: $mobile){
                    width: 12px;
                    height: 12px;
                }
            }
        }
    }
}
