.number-item{
    counter-reset: list 0;
    // .number-item__img
    &__img{
        height: 0;
        position: relative;
        padding-bottom: 62%;
        &:after{
            counter-increment: img;
            content:  counter(img) ;
            display: flex;
            @include adaptiveProperty('font-size', 32, 14);
            @include adaptiveProperty('line-height', 56, 24);
            align-items: center;
            justify-content: center;
            font-weight: 700;
            color: $white;
            position: absolute;
            width: 83px;
            height: 83px;
            background-color: $blackBlue;
            left: 15px;
            top: 15px;
            border-radius: 3px;
            @media screen and (max-width: $tablet){
                width: 60px;
                height: 60px;
            }
            @media screen and (max-width: $mobile){
                width: 30px;
                height: 30px;
                top: 13px;
                left: 9px;
            }
        }
        img{
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
        }
    }
    // .number-item__text
    &__text{
        margin-top: 35px;
        padding: 0 30px;
        @media screen and (max-width: $tablet){
            padding: 0;
        }
        @media screen and (max-width: $tabletSmall){
            margin-top: 20px;
        }
        h3{
            color: $blackBlue;
            font-weight: 700;
            margin-bottom: 10px;
            text-align: center;
            @include adaptiveProperty('font-size', 41, 26);
            @include adaptiveProperty('line-height', 72, 32);
        }
        p{
            text-align: center;
            font-weight: 300;
            color: #7a7a7a;
        }
    }
}
